<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id_username">USERNAME</label>
        <input type="text" name="username",id="id_username">
        <label for="id_password">PASSWORD</label>
        <input type="text" name="password",id="id_password">
        <input type="submit" value="LOGIN">
    </form>
</body>
</html>